{% extends 'base.html.twig' %}

{% form_theme ProfileSearch 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/searchProfile.css') }}">
{% endblock %}

{% block body %}
    <section class="search-profil">
        <div class="">
            <div class="col text-center">
                <button id="bouton" class="btn btn-warning">Filtres <i class="fas fa-sort"></i></button>
            </div>

        
            <div class="col-md-9 col-xs-12">
                <div id="form-group">
                    <div class="hide" id="formToHide">
                        {{ form_start(ProfileSearch) }}

                        {{ form_widget(ProfileSearch) }}

                        {{ form_end(ProfileSearch) }}
                    </div>
                </div>
            </div>

            <div class="profil" >
                    {% for animal in animals %}
                            <div class="animal">
                                <a href="{{ path('profile_show', { 'id' : animal.id }) }}"
                                   style="background-image: url({{ animal.image }})">
                                </a>
                                <h2 class="animal-name">{{ animal.name }}</h2>
                            </div>
                    {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/search_profile.js') }}"></script>
{% endblock %}
