{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/accueil.css') }}">
{% endblock %}

{% block titre %} Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="main-content">
            <div class="top-banner">
                <img src="{{ asset('img/accueil/banniere1.png') }}" alt="Image d'acceuil de chiens et de chats">
            </div>
            <div class="logo text-center">
                <h1><span class="dark">A</span><span class="orange">nim</span>'<span class="red">Alls</span></h1>
            </div>
            <section class="accueil">
                <hr>
                <p>
                    Bienvenue sur le site de l'Association Anim'Alls !
                    Nous recueillons et soignons des animaux afin de leur trouver une nouvelle famille.
                </p>
                <hr>
                <h2> Nos amis à adopter <i class="fas fa-paw"></i></h2>


                <div class="carrousel col-md-12 col-xs-5">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                      
                        <div class="carousel-inner">
                            {% for category in categories %}
                                <div class="carousel-item  {{ loop.first ? 'active' : '' }}" data-interval="3000">
                                    <img src="{{ asset(category.photo) }}"
                                         class="d-block w-100"
                                         alt="image de catégorie">
                                    <div class="carousel-caption">
                                        {% if app.user is null %}
                                            <a class="category-title"
                                               href="{{ path('user_login') }}"><strong>{{ category.title }}
                                                </strong></a>
                                        {% else %}
                                            <a class="category-title"
                                               href="{{ path('search_profile', {"init": {categories: category.id}}) }}">
                                                <strong>{{ category.title }}</strong></a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                  
                    </div>
                </div>
                {% if app.user is null %}
                    <a href="{{ path('user_login') }}">
                        <button type="submit" id="cat" class="btn btn-dark btn-md"><i class="fas fa-cat"></i> Nos chats
                        </button>
                    </a>
                    <a href="{{ path('user_login') }}">
                        <button type="submit" id="dog" class="btn btn-dark btn-md">Nos chiens <i class="fas fa-dog"></i>
                    </a>
                {% else %}
                    <a href="{{ path('search_profile', {"init": {types: 2}}) }}">
                        <button type="submit" id="cat" class="btn btn-dark btn-md"><i class="fas fa-cat"></i> Nos chats
                        </button>
                    </a>
                    <a href="{{ path('search_profile', {"init": {types: 1}}) }}">
                        <button type="submit" id="dog" class="btn btn-dark btn-md">Nos chiens <i class="fas fa-dog"></i>
                        </button>
                    </a>


                {% endif %}

            </section>
            <hr>
            <section class="a-propos" id="a-propos">  {# SECTION A PROPOS DE NOUS#}
                <h2>L'Association Anim'Alls</h2>
                <div>
                    <p>
                        Anim'Alls est une association fondé en 2016 part Paul Dubois, ancien vétérinaire à la retraite,
                        il a décidé d'aider encore les animaux et de consacré sa vie a les soigner et a les choyer .
                        Il lutte alors corps et âmes contre toutes les maltraitances et abandons faites sur les animaux.

                        Adopter un animal est un acte responsable. C'est un véritable engagement moral et financier.
                        Anim'Alls offre aux animaux recueillis une nouvelle chance en mettant tout en oeuvre pour leur
                        retrouver une famille. Nous recueillons les animaux en détresse, abandonnés, perdus ou
                        maltraités.
                    </p>
                    <img src="{{ asset('img/accueil/img-accueil.jpg') }}" class="img-accueil"
                         alt="image d'un chien et d'un chat">
                    <p>
                        Nous luttons contre les abandons et dénonçons les mauvais traitements infligés aux
                        animaux.ET nous agissons quotidiennement pour assurer la protection et la défense des animaux
                        sur l'ensemble du territoire.

                        100 000 animaux de compagnie, subitement devenus encombrants et indésirables, sont abandonnés
                        tous les ans, dont 60 000 pendant la période estivale. Livrés à eux-mêmes, amenés en fourrière,
                        ils seront euthanasiés si personne ne peut les recueillir. Pour lutter contre ce fléau et faire
                        réfléchir certains maîtres sur la fidélité et le respect qu’impliquent le lien qu’ils ont établi
                        avec leur compagnon, Anim'Alls a placé la lutte contre l’abandon au rang de ses priorités.
                    <p>
                        Nos missions consistent à :
                        Lutter contre la maltraitance et les abandons, ​
                        Recueillir et héberger les animaux abandonnés, perdus ou maltraités et leur trouver un foyer,
                        Soigner les animaux des propriétaires démunis,
                        Sensibiliser le grand public et en particulier les jeunes à la protection animale,
                        Responsabiliser les propriétaires d'animaux,
                        S'engager auprès des pouvoirs publics pour faire évoluer la cause animale.
                    </p>
                </div>
            </section>
            <hr>
            <section class="articles">
                <h2>Les dernières news</h2>
                {% for article in articles %}
                    <div class="article">
                        <div class="card sm-3">
                            <div class="row no-gutters">
                                <div class="col-sm-3 ">
                                    <img src="{{ asset('images/' ~ article.picture) }}" class="article-img" alt="image de l'article">
                                </div>
                                <div class="col-sm-8">
                                    <div class="card-body">
                                        <p class="title"><strong>{{ article.title }}</strong></p>
                                        <p class="date"><small
                                                    class="text-muted">{{ article.createdAt | date('d/m/Y') }}</small>
                                        </p>
                                        <p class="content">{{ article.content }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </section>
            <hr>
            <section class="contact" id="contact">
                <div class="infos">
                    <h3>Contactez nous</h3>
                    <a href="mailto:">animalls@gmail.com</a>
                    <br>
                    <a href="tel:+33133558822">01.33.55.88.22</a>
                    <p>2 Rue de la Liberté, 94300 Vincennes</p>
                </div>
                <div class="map  col-xs-5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.4661567402204!2d2.436814850539275!
                3d48.849320679184906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e672a1564aeef5%3A0xe1079c77ded7703
                7!2s2-18%20Rue%20de%20la%20Libert%C3%A9%2C%2094300%20Vincennes!5e0!3m2!1sfr!2sfr!4v1586716947372!5m2!1sfr!2sfr"
                {#width="340" height="220"#}>
                    </iframe>
                </div>
            </section>
            <section class="comments">
            <h3>Avis</h3>
            {% for comment in comments %}
                <hr>
<<<<<<< HEAD
                <p>Posté par: <strong>{{ comment.user }}</strong>,<br> le {{ comment.createAt | date('d/m/Y')}} </p>
=======
                <p>Posté par : {{ comment.user }}, le {{ comment.createAt | date('d/m/Y')}} </p>
>>>>>>> d32158c23a5bdcda0e691bd397bd553e8f0404eb
                <p>{{ comment.content }}</p>
                <hr>
            {% endfor %}
            {% if app.user is null %}
                <a href="{{ path('user_login') }}">
<<<<<<< HEAD
                    <button type="submit" class="btn btn-dark btn-md" style="margin: 0 auto">Laissez nous votre avis</button>
                </a>
            {% else %}
                <a href="{{ path('comment') }}">
                    <button type="submit" class="btn btn-dark btn-md" style="margin: 0 auto">Laissez nous votre avis</button>
=======
                    <button type="submit" id="cat" class="btn btn-dark btn-md">Laissez nous votre avis</button>
                </a>
            {% else %}
                <a href="{{ path('comment') }}">
                    <button type="submit" id="cat" class="btn btn-dark btn-md">Laissez nous votre avis</button>
>>>>>>> d32158c23a5bdcda0e691bd397bd553e8f0404eb
                </a>
            {% endif %}
            </section>

            <div class="col-md-12 col-sm-4 reseau">
                <a href="" class="facebook"><i class="fab fa-facebook-square"></i></a>
                <a href="" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="" class="linkedin"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>



{% endblock %}
