{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/gestion_article.css') }}">
{% endblock %}



{% block body %}
    <div class="container">
       {#{% if articles.id is null %}#}
        <div class="col text-center">
            <button id="bouton" class="btn btn-dark btn-lg ">Créer un nouvel article</button>
        </div>

        <div class="hide" id="formToHide">

            {{ form_start(form)}}

            {{ form_row(form.title, {'label': 'Titre:', 'attr': {'placeholder': "Titre de l'article"}}) }}
            {{ form_row(form.content, {'label': 'Article:', 'attr': {'placeholder': "Contenue de l'article"}}) }}
            {{ form_row(form.picture, {'label': 'Image:', 'attr': {'placeholder': "Image de l'article"}}) }}

            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary"><strong>Enregistrer</strong></button>
            </div>

            {{ form_end(form)}}
        </div>

        <table class="table-responsive">
            <tr>
                <th >Id</th>
                <th >Date de creation</th>
                <th >Titre</th>
                <th >Contenu</th>
                <th >Image</th>
            </tr>
            <tr>
                {% for articles in article %}
                <td>{{ articles.id }}</td>
                <td>{{ articles.createdAt | date('d/m/Y')}}</td>
                <td>{{ articles.title }}</td>
                <td>{{ articles.content }}</td>
                <td>{{ articles.picture }}</td>
                <td style="text-align: right;">
                    <a href="{{ path('app_admin_article_edit', {'id': articles.id}) }}" id="btn" class="btn btn-outline-warning">
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="{{ path('app_admin_article_delete', {'id': articles.id}) }}" id="btn" class="btn btn-outline-danger">
                       <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            <tr>
                {% endfor %}
            </tr>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/gestion_article.js') }}"></script>
{% endblock %}





