{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/gestion_comment.css') }}">
{% endblock %}

{% block body %}
    <section class="gestion-avis">
        <h1>Gestion des Avis</h1>

        <table class="table-responsive">
            <thead class="thead-orange">
            <tr>
                <th>Id</th>
                <th>Utilisateur</th>
                <th>Contenu</th>
                <th>Date</th>
            </tr>
            <tr>
                {% for comment in comments %}
                <td>{{ comment.id }}</td>
                <td>{{ comment.user }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.createAt | date('d/m/Y')}}</td>
                <td>
                    <a href="{{ path('delete_comment', { 'id' : comment.id }) }}">
                        <button type="submit" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                    </a>
                </td>
            <tr>
                {% endfor %}
            </tr>
        </table>
    </section>
{% endblock %}
