{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/gestion_user.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1>Gestion utilisateur</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col-1">Id</th>
            <th scope="col-2">Nom</th>
            <th scope="col-2">Prénom</th>
            <th scope="col-2">Date de naissance</th>
            <th scope="col-3">Adresse</th>
            <th scope="col-2">Code postal</th>
            <th scope="col-2">Ville</th>
            <th scope="col-3">N°téléphone</th>
            <th scope="col-4">Email</th>
        </tr>
        <tr>
            {% for users in user %}
            <td>{{ users.id }}</td>
            <td>{{ users.lastName }}</td>
            <td>{{ users.firstName }}</td>
            <td>{{ users.birthDate | date('d/m/Y')}}</td>
            <td>{{ users.street }}</td>
            <td>{{ users.zipCode }}</td>
            <td>{{ users.city }}</td>
            <td>{{ users.phoneNumber }}</td>
            <td>{{ users.email }}</td>
            <td>
                <a href="{{ path('app_admin_useradmin_delete', { 'id' : users.id }) }}">
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </a>
            </td>
        <tr>
            {% endfor %}
        </tr>
    </table>
</div>
{% endblock %}
