{% extends 'base.html.twig' %}


{% block body %}
    <h1>Gestion utilisateur</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">Adresse</th>
            <th scope="col">Code postal</th>
            <th scope="col">Ville</th>
            <th scope="col">N°téléphone</th>
            <th scope="col">Email</th>
            <th scope="col">Mot de passe</th>
        </tr>
        <tr>
            <th scope="row">{{ user.id }}</th>
            <th scope="row">{{ user.lastName }}</th>
            <th scope="row">{{ user.firstName }}</th>
            <th scope="row">{{ user.birthDate | date('d/m/Y')}}</th>
            <th scope="row">{{ user.street }}</th>
            <th scope="row">{{ user.zipCode }}</th>
            <th scope="row">{{ user.city }}</th>
            <th scope="row">{{ user.phoneNumber }}</th>
            <th scope="row">{{ user.email }}</th>
            <th scope="row">{{ user.password }}</th>
        </tr>
    </table>
{% endblock %}