{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/commentaire.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="banniere">
            <img src="{{ asset('img/accueil/banniere1.png') }}" alt="Banniere d'un groupe d'animaux">
        </div>
        <div class="logo text-center">
            <h1><span class="dark">A</span><span class="orange">nim</span>'<span class="red">Alls</span></h1>
        </div>
        <div class="depo-avis">
            <h2>Laissez nous votre avis</h2>
            <div class="col-lg-10">
                    {{ form_start(form) }}
                    {{ form_row(form.content,{'label': 'Exprimez vous ici:'}) }}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-sm">Envoyer</button>
                </div>
                    {{ form_end(form) }}
            </div>
        </div>

        <div class="users-avis">
            <div class="col text-center">
                <button id="bouton" class="btn btn-dark">Voir tous les articles</button>
            </div>
            <div class="hide" id="formToHide">
                    {% for comments in comment %}
                        <hr>
                    <p>Posté par : {{ comments.user }}, le {{ comments.createAt | date('d/m/Y')}} </p>
                    <p>{{ comments.content }}</p>
                        <hr>
                    {% endfor %}
            </div>
        </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/gestion_article.js') }}"></script>
{% endblock %}