{% extends 'base.html.twig' %}


{% block body %}
    <h1>Voici les différents avis sur l'adoption d'un nouveau compagnon</h1>


        {{ form_start(form) }}

        {{ form_row(form.user) }}

        {# à voir pour plus tard
        Au sujet de son nouveau compagnon animal : {{ form_row(form.animal) }} #}

        {{ form_row(form.content) }}

        <div class="text-right">
            <button type="submit" class="btn btn-primary">
                Envoyer
            </button>
        </div>

        {{ form_end(form) }}

    {# montrer les avis déjà existant
    pour plus tard, en js, au cloc montrer tout les avis, à copier / adapter dans profils animal
    #}

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Utilisateur</th>
                <th>Date de création</th>
                <th>Contenu</th>
            </tr>
            <tr>
                {% for comments in comment %}
                <td>{{ comments.id }}</td>
                <td>{{ comments.user }}</td>
                <td>{{ comments.createdAt | date('d/m/Y')}}</td>
                <td>{{ comments.content }}</td>

                {#
                à voir sur le code d'anais
                <td style="text-align: right;">
                    <a href="{{ path('', {'id': articles.id}) }}">
                        <button type="submit" class="btn btn-warning"><i class="far fa-edit"></i></button>
                    </a>
                    <a href="{{ path('app_admin_article_delete', {'id': articles.id}) }}">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </a>
                </td>
                #}
            <tr>
                {% endfor %}
            </tr>
        </table>
    </div>


{% endblock %}

