{% extends 'base.html.twig' %}


{% block body %}
    <h1>Voici les différents avis sur l'adoption d'un nouveau compagnon</h1>


        {{ form_start(form) }}


        {{ form_row(form.content) }}

        <div class="text-right">
            <button type="submit" class="btn btn-primary">
                Envoyer
            </button>
        </div>

        {{ form_end(form) }}

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Date de création</th>
                <th>Contenu</th>
            </tr>
            <tr>
                {% for comments in comment %}
                <td>{{ comments.user }}</td>
                <td>{{ comments.createAt | date('d/m/Y')}}</td>
                <td>{{ comments.content }}</td>

                {#
                à voir sur le code d'anais
                <td style="text-align: right;">
                    <a href="{{ path('', {'id': articles.id}) }}">
                        <button type="submit" class="btn btn-warning"><i class="far fa-edit"></i></button>
                    </a>
                    <a href="{{ path('app_admin_article_delete', {'id': articles.id}) }}">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </a>
                </td>
                #}
            <tr>
                {% endfor %}
            </tr>
        </table>
    </div>


{% endblock %}

