<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Anim'Alls !{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('style/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

</head>

<body>
<div class="container">
    <div class="nav admin-nav">
        {% if is_granted('ROLE_ADMIN') %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <span class="navbar-brand">Admin</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarAdminContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarAdminContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('gestion_animal') }}"> Gestion Animal </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_useradmin_show') }}"> Gestion Utilisateur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('gestion_category') }}"> Gestion Catégories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_article_show') }}"> Gestion articles</a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endif %}
    </div>
    <div class="nav user-nav">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <a class="navbar-brand" href="{{ path('app_index_index') }}"><img class="logo" src="{{ asset('img/logo4.png') }}" alt=""></a> {# pour le retour à l'index #}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarUserContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarUserContent">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#a-propos"> A propos de nous</a>
                    </li>
                    <li class="nav-item">   {# pour contacter l'association #}
                        <a class="nav-link" href="#contact"> Contact</a>
                    </li>
                    <li class="nav-item">   {# pour contacter l'association #}
                        <a class="nav-link" href="{{ path('search_profile') }}"> Recherche</a>
                    </li>
                    {% if app.user is null %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path ('registration') }}"> Inscription </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path ('user_login') }}">Connexion</a>
                        </li>
                    {% else %}
                        {# app.user = l'utilisateur connecté #}
                        {# app.user is null = l'utilisateur n'est pas connecté #}

                        <!-- pour les Connexion / Déconnexion, admin ou User -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path ('user_show') }}"> {{ app.user }}</a>
                        </li>

                        <!-- pour déposer un Témoignage d'adoption, accessible seulement aux Admin et User -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path ('comments_create') }}">Témoignage</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path ('user_logout') }}">Déconnexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- lourd copier/coller, pour préparer le terrain
pour les messages Flash (erreurs, prévention, et autres alertes) -->
<div class="container">
    {# affichage des messages flash #}
    {% for type, messages in app.session.flashBag.all %}
        {# pour la classe alert-danger de bootstrap #}
        {% if type == 'error' %}
            {% set type = 'danger' %}
        {% endif %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} mt-2">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
