{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/gestion_user.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th >Id</th>
                <th >Date de creation</th>
                <th >Titre</th>
                <th >Contenu</th>
                <th >Image</th>
            </tr>
            <tr>
                {% for articles in article %}
                <td>{{ articles.id }}</td>
                <td>{{ articles.createdAt | date('d/m/Y')}}</td>
                <td>{{ articles.title }}</td>
                <td>{{ articles.content }}</td>
                <td>{{ articles.picture }}</td>
                <td style="text-align: right;">
                    <a href="{{ path('app_admin_article_create', {'id': articles.id}) }}">
                        <button type="submit" class="btn btn-warning"><i class="far fa-edit"></i></button>
                    </a>
                    <a href="{{ path('app_admin_article_delete', {'id': articles.id}) }}">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </a>
                </td>
            <tr>
                {% endfor %}
            </tr>
        </table>

        <a href="{{ path('app_admin_article_create') }}">
            <button type="submit" class="btn btn-warning">Créer un nouvelle article</button>
        </a>
    </div>
{% endblock %}
