{% extends 'base.html.twig' %}
{%  form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/inscription.css') }}">
{% endblock %}

{% block titre %} Inscription{% endblock %}

{% block body %}
<section class="inscription">
    <h1>Inscription</h1>

        {{ form_start(form) }}

            <div class="form">
                <div>
                    {{ form_row(form.lastName, {'label': 'Nom :', 'attr':{'placeholder': 'Votre nom'}}) }}
                    {{ form_row(form.firstName, {'label': 'Prénom:', 'attr':{'placeholder': 'Votre prénom'}}) }}
                    {{ form_row(form.birthDate, {'label': 'Date de naissance:', 'attr':{'placeholder': 'JJ/MM/AA'}}) }}
                </div>
                    <hr>
                <div>
                    {{ form_row(form.phoneNumber,{'label': 'N°téléphone:', 'attr':{'placeholder': 'Votre n°téléphone'}}) }}
                    {{ form_row(form.street,{'label': 'Adresse:', 'attr':{'placeholder': 'Votre adresse'}}) }}
                    {{ form_row(form.zipCode,{'label': 'Code Postal', 'attr':{'placeholder': 'Votre code postal'}}) }}
                    {{ form_row(form.city,{'label': 'Ville', 'attr':{'placeholder': 'Votre ville'}}) }}
                </div>
                <hr>
                <div>
                    {{ form_row(form.email,{'label': 'Email', 'attr':{'placeholder': 'Votre email...'}}) }}
                    {{ form_row(form.password,{'label': 'Mot de passe', 'attr':{'placeholder': 'Votre mot de passe'}}) }}
                    {{ form_row(form.confirm_password,{'label': 'Confirmez votre mot de passe', 'attr':{'placeholder':
                        'Votre mot de passe'}}) }}
                </div>
            </div>
            <div class="col text-center">
                <button type="submit" class="btn btn-success">Inscription</button>
            </div>
    {{ form_end(form) }}

</section>
{% endblock %}