{% extends 'base.html.twig' %}

{% block body %}
<h1>Information utilisateur</h1>

    <ul class="list-group">
        <li class="list-group-item">Nom: {{ user.lastName }}</li>
        <li class="list-group-item">Prénom: {{ user.firstName }}</li>
        <li class="list-group-item">Date de naissance: {{ user.birthDate | date('d/m/Y')}}</li>
        <li class="list-group-item">Adresse: {{ user.street }}</li>
        <li class="list-group-item">Code postal: {{ user.zipCode }}</li>
        <li class="list-group-item">Ville: {{ user.city }}</li>
        <li class="list-group-item">N°téléphone: {{ user.phoneNumber }}</li>
        <li class="list-group-item">Email: {{ user.email }}</li>
    </ul>

        <a class="nav-link" href="{{ path('user_modif', {'id': user.id}) }}" class="btn btn-success">Modifier</a>


{% endblock %}